#welcomeGrid{
    -fx-background-image: url('backgroundPrague.jpg');
    -fx-background-size: cover;
}

.mainButton{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-border-color: #7c7c7c;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 30, 0, 0, 10);
}

.mainButton:hover{
    -fx-background-color: white;
    -fx-border-color: #14a085;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30, 0, 0, 8);
}

.ratting-button{
    -fx-background-color: rgba(174, 68, 58, 0.98);
    -fx-text-fill: white;
    -fx-background-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.1), 30, 0, 0, 8);
}

.ratting-button:hover{
    -fx-background-color: rgba(124, 46, 43, 0.98);
}

#mainVBox{
    -fx-background-image: url('backgroundPrague.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.boxes{
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 10 10 10 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.55), 30, 0, 0, 9);
}

.boxes:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30, 0, 0, 8);
}

.rating-box{
    -fx-background-color: #14a085;
    -fx-background-radius: 15;
    -fx-padding: 7 7 7 7;
}

.scroll-pane{
    -fx-background: white;
    -fx-background-color: white;
    -fx-end-margin: 10 10 10 10;
}

.blank-pane> .viewport {
    -fx-background-color: transparent;
}

.blank-pane{
    -fx-background-color: transparent;
}

.point{
    -fx-fill: #14a085;
}

.line{
    -fx-stroke: #14a085;
}

.description{
    -fx-text-fill: #14a085;
    -fx-font-size: 13px;
}

.rating-text{
    -fx-text-fill: #ffffff;
    -fx-font-size: 12px;
}

.grey-text{
    -fx-text-fill: #dadada;
    -fx-font-size: 10px;
}

.icon{
    -fx-opacity: 0.3;
}

.icon:hover{
    -fx-opacity: 0.9;
}