#welcomeGrid{
    -fx-background-image: url('backgroundPrague.jpg');
    -fx-background-size: cover;
}

.mainButton{
    -fx-background-color: #ffffff;
    -fx-background-radius: 20;
    -fx-border-color: #7c7c7c;
    -fx-border-width: 1;
    -fx-border-radius: 20;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.6), 30, 0, 0, 10);
}

.mainButton:hover{
    -fx-background-color: white;
    -fx-border-color: #14a085;
    -fx-border-width: 2;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30, 0, 0, 8);
}

#mainVBox{
    -fx-background-image: url('backgroundPrague.jpg');
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
}

.boxes{
    -fx-background-color: white;
    -fx-background-radius: 15;
    -fx-padding: 10 10 10 10;
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.55), 30, 0, 0, 9);
}

.boxes:hover{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 30, 0, 0, 8);
}

.scroll-pane{
    -fx-background: white;
    -fx-background-color: white;
    -fx-end-margin: 10 10 10 10;
}

.blank-pane> .viewport {
    -fx-background-color: transparent;
}

.blank-pane{
    -fx-background-color: transparent;
}

.point{
    -fx-fill: #14a085;
}

.line{
    -fx-stroke: #14a085;
}

.description{
    -fx-text-fill: #14a085;
}